
.board_list_title{
margin:20px;font-size: 25px; text-align: center;font-weight: lighter;
}
.mb_board_list_table{

}
/*해시태그*/
.board_list_header{
  height: 80px;
}
.board_list_keyword li{
  float: left; margin:  10px;
}
.board_list_keyword li a{
  color:black;
}
.board_list_keyword li:first-child{
  color:#c3002e;font-weight: bold;font-style: italic;
}
/*.board_list_keyword li a:after{
  content: "|";margin-left:  10px;
}*/
.board_list_keyword li a:hover{
  color:#c3002e;text-decoration: none;transition: transform 250ms ease-in-out;
}
/*게시판 목록*/
.board_list_header,.board_list_form{
  width:90%; margin:5%;
}
.mb_board_list_form{
  box-shadow: 5px 5px 10px #EEEEEE; border-radius: 5px;border-collapse: collapse;
}
/*ul 중앙정렬*/
.board_list_keyword{
  text-align: center;
}
.board_list_header li{
  display: inline-block;float: none;
}
/*테이블 설정*/
.mb_board_list_form{
  margin:50px auto;width:90%; padding: 1%; border-collapse: collapse;
}
.mb_board_list_form tr{
  height:80px;border-top:1px solid #DDDDDD;
}
.mb_board_list_form>tbody>tr:hover{
  background-color: #EEEE;text-decoration: none;
}
.mb_board_list_form tr a:hover{
  color:black;text-decoration: underline;
}
.mb_board_list_form>tr>td:nth-child(2){
border-top:1px solid #DDDDDD;
}
.mb_board_list_form td{
  border-bottom:1px solid #DDDDDD;
}
.mb_list_num{
  width:10%;text-align: center;
}
/*게시판 목록의 글제목*/
.mb_category{
   color:#c3002e; font-weight: bold;margin-right:8px;
}
.mb_board_title{
  font-size: 14px;margin-left: 8px;
}
.comments{
   color:#888888;
}
/*게시판 목록의 글제목 하단*/
.mb_board_title_bottom{
  margin-left: 4px;
}
.mb_board_title_bottom span{
  margin:5px; color:#888888;
}
.mb_board_title_bottom span::after{
  content: "|";padding-left: 10px;
}
.mb_board_title_bottom span:last-child::after{
  content:"";
}
/*테이블 이미지*/
.table_img{
  border-radius: 5px;
}
.mb_board_list_form td:nth-child(3){
  width:10%;
}
/**/
/*게시판 목록 하단*/
.board_list_bottom{
  margin-top: 30px;margin-left: 100px;text-align: center;
}
/*새글작성 버튼 */
.new_post_btn{
    background-color:white;border: 1px solid #555555;
    float:right; width:10%; height:30px;text-align: center; line-height: 30px;
    margin-right:6%;border-collapse: collapse; border-radius: 5px;
}
.new_post_btn a{
  color:#555555;;font-weight: bold;
}
.new_post_btn:hover{
  background-color:#c3002e;color:white;border: 1px solid #c3002e;
}
.new_post_btn a:hover{
   color:white;
}
/*검색*/
.find_post>input:focus{
  color:black; border-color:#c3002e;
}
.board_list_search{
  height:24px;width:50%;  border-radius:  5px 0 0 5px; border:1px solid #555555; border-right: none;
  padding:3px;
}
.board_list_search:focus{
  outline:none;
}
.board_list_search_btn{
  width:60px; height:32px;border:none;color:white; background-color:#555555;
  border-radius:0 5px 5px 0;margin-top: -3px;
}
/*게시판 내 페이지 이동*/
.board_list_page_idx{
  width:40%;margin-left: 30%;margin-right: 30%;margin-top: 40px;border-collapse: inherit;
}
.board_list_page_idx a:hover{
  text-decoration: underline;color:black;
}
/*리모컨*/
.floating{
  display: none;
}

/*태블릿 ver (~768px)*/
  @media (max-width:768px){
    /*ul 중앙정렬*/
    .board_list_keyword{
      text-align: center;
    }
    .board_list_header li{
      display: inline-block;float: none;
    }
    /*테이블 설정*/
    .mb_board_list_form{
      width:95%; padding: 1%; border-collapse: collapse;
    }
    .mb_board_list_form tr{
      height:80px;border-top:1px solid #DDDDDD;
    }
    .mb_list_num{
      display: none;
    }
    .mb_board_list_form>tbody>tr:hover{
      background-color: #EEEE;text-decoration: none;
    }
    .mb_board_list_form tr a:hover{
      color:black;text-decoration: underline;
    }
    .mb_board_list_form>tr>td:nth-child(2){
    border-top:1px solid #DDDDDD;
    }
    .mb_board_list_form td{
      border-bottom:1px solid #DDDDDD;
    }
    /*게시판 목록의 글제목*/
    .mb_category{
       color:#c3002e; font-weight: bold;margin-right:8px;
    }
    .mb_board_title{
      font-size: 14px;margin-left: 8px;
    }
    .comments{
       color:#888888;
    }
    /*게시판 목록의 글제목 하단*/
    .mb_board_title_bottom{
      margin-left: 4px;
    }
    .mb_board_title_bottom span{
      margin:5px; color:#888888;
    }
    .mb_board_title_bottom span::after{
      content: "|";padding-left: 10px;
    }
    .mb_board_title_bottom span:last-child::after{
      content:"";
    }
    /*테이블 이미지*/
    .table_img{
      border-radius: 5px;
    }
    .mb_board_list_form td:nth-child(3){
      width:10%;
    }
    /*게시판 목록 하단 새글쓰기,검색 감춤*/
    .board_list_bottom{
    display: none;
    }
    /*인덱스*/
    .board_list_page_idx{
      width:80%;margin:20px 10%;border-collapse: inherit;
    }
    /*리모컨*/
    .floating{
      display: block;
    }
    .remote_control{
      position: fixed; bottom:20px; right:5px;z-index: 1;
    }
    .remote_control>div{
       height:40px;width:40px;text-align:center;
      padding:5px; border-radius: 25px; margin:10px;
      background-color: white;box-shadow: 3px 3px 5px 1px #DDDD;
    }
    .remote_control a{
      font-size: 25px;color:#555555;
    }
    /*검색버튼 클릭 시*/
    /*오픈코드 https://codepen.io/jkantner/pen/eYmvvqQ*/
    .search-bar {
    	display: flex;position: fixed; bottom:17px; right:-15px;
    }
    .search-bar input,
    .search-btn,
    .search-btn:before,
    .search-btn:after {
    	transition: all 0.25s ease-out;
    }
    .search-bar input,
    .search-btn {
    	width: 3em;
    	height: 3em;
      border-color: #555555;
    }
    .search-bar input:invalid:not(:focus),
    .search-btn {
    	cursor: pointer;
    }
    .search-bar,
    .search-bar input:focus,
    .search-bar input:valid  {
    	width: 100%;
    }
    .search-bar input:focus,
    .search-bar input:not(:focus) + .search-btn:focus {
    	outline: transparent;
    }
    .search-bar {
    	margin: auto;
    	padding: 1.5em;
    	justify-content: flex-end;/**/
    	max-width: 30em;z-index: 2;
    }
    .search-bar input {
    	background: transparent;
    	border-radius: 1.5em;
      border-color:#555555;
    	box-shadow: 0 0 0 0.4em #555555 inset;
    	padding: 0.65em;
    	transform: translate(0.5em,0.5em) scale(0.5);
    	transform-origin: 100% 0;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    }
    .search-bar input::-webkit-search-decoration {
    	-webkit-appearance: none;
    }
    .search-bar input:focus,
    .search-bar input:valid {
    	background: #fff;
    	border-radius: 15px 0 0 15px;
    	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    	transform: scale(1);
    }
    .search-btn {
    	background: #555555;
    	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    	padding: 0.75em;
    	position: relative;
    	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    	transform-origin: 0 50%;
    }
    .search-btn:before,
    .search-btn:after {
    	content: "";
    	display: block;
    	opacity: 0;
    	position: absolute;
    }
    .search-btn:before {
    	border-radius: 50%;
    	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    	top: 0.75em;
    	left: 0.75em;
    	width: 1.2em;
    	height: 1.2em;
    }
    .search-btn:after {
    	background: #f1f1f1;
    	border-radius: 0 0.25em 0.25em 0;
    	top: 51%;
    	left: 51%;
    	width: 0.75em;
    	height: 0.25em;
    	transform: translate(0.2em,0) rotate(45deg);
    	transform-origin: 0 50%;
    }
    .search-btn span {
    	display: inline-block;
    	overflow: hidden;
    	width: 1px;
    	height: 1px;
    }

    /* Active state */
    /*클릭 전 검색버튼*/
    .search-bar input:focus + .search-btn,
    .search-bar input:valid + .search-btn {
    	background: #555555;
    	border-radius: 0 15px 15px 0;
    	transform: scale(1);
    }
    .search-bar input:focus + .search-btn:before,
    .search-bar input:focus + .search-btn:after,
    .search-bar input:valid + .search-btn:before,
    .search-bar input:valid + .search-btn:after {
    	opacity: 1;
    }
    .search-bar input:focus + .search-btn:hover,
    .search-bar input:valid + .search-btn:hover,
    .search-bar input:valid:not(:focus) + .search-btn:focus {
    	background: #c3002e;
    }
    .search-bar input:focus + .search-btn:active,
    .search-bar input:valid + .search-btn:active {
    	transform: translateY(1px);
    }

    @media screen and (prefers-color-scheme: dark) {
    	body, input {
    		color: #f1f1f1;
    	}
    	body {
    		background: #555555;
    	}
    	.search-bar input {
    		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    	}
    	.search-bar input:focus,
    	.search-bar input:valid {
    		background: #3d3d3d;
    		box-shadow: 0 0 0 0.1em #3d3d3d inset;
    	}
    	.search-btn {
    		background: #f1f1f1;
    	}
    }
  }
