body{ margin: 0; padding: 0; overflow: hidden;  }
#chat_head{
  font-size: 18px; background: #8EB695; color: white; position: fixed;top:0;width:100%;height:80px;line-height: 80px;
  text-align: center; overflow-y: hidden;z-index: 1000000;}
#chat_head .contactor{
  margin-left: 20px;
}
/*.chat{
    display:flex;flex-direction: column-reverse;  flex-wrap: wrap;}*/
#app_chat_list{height:90vh; overflow-y:scroll;overflow-x: hidden ;}
  /*나가기 버튼*/
.chat .sign_out{
  float:right;z-index: 100;padding-top: 5px;padding-right: 5px;
}
#show{
  border:none; color:#0b7a71;background-color:  #8EB695;font-size: 25px; font-weight: bolder;
}
/*채팅 내용*/
.chat_content{
  margin-top: 160px; position: relative;left:-30px;bottom: 30px;
}
.chat_content ul{
  list-style: none;width: 98%;
}
.chat_content li{
  display:inline-block; width:100%;margin:10px;
}
.chat_content .right{
  float:right;
}
.chat .right>.name{display: inline-block;float: right; width:90%; text-align: right;margin-right: 5px;color:#555;
}
.chat .right img{
 width:50px;height:50px;border-radius: 15px;float: right;
}
.chat_content .left{
  float:left;
}
.chat .left>.name{
  display: inline-block;float: left;width:90%;margin-left: 5px;color:#555;
}
.chat .left img{
 width:50px;height:50px;border-radius: 15px;float: left;
}
.chat_content .content{
   display: inline-block;width:85%;margin:  5px;
}
.chat_content .content span{
  word-break:break-all;  border: 1px solid #888; padding: 10px;border-radius: 5px; max-width: 80%;
}
.chat .right>.content{
  float:right;
}
.chat .left>.content{
 float: left;
}
.chat .right>.content span{float:right;text-align: right;
}
.chat .left>.content span{
  float:left;
  background-color: #888;color:white;
}
/*보낸시간*/
.time{
  display: inline-block;width:100%;text-align: right;font-size: 12px;color:#0b7a71;text-shadow: white 1px 0 1px;margin-top:5px;
}
.chat .left>.content .time{
  text-align: left;
}
/*읽음 여부*/
.chat_content .content span:nth-child(2){
  border: none;color:#c3200e;font-size: 10px;background: none;
}
/*메세지 작성*/
.chat textarea {
   width:calc(100% - 150px); height: 80px; border: none; padding :15px;overflow:scroll;float:left;
 }
.chat textarea:focus{outline: none;}
.chat .input {
  position: fixed; bottom: 0; width: 100%; background-color: #FFF; text-align: center; border-top:  2px solid #c3200e;
}
.input button{  width:60px; height:60px; background-color:#c3002e;vertical-align: middle;border-radius: 60px;color:white;box-shadow: 2px 2px 8px #888888;font-size: 20px;border: none;margin-top:25px;}
/*날짜 변경선*/
.chat .date{
	display: flex;	flex-basis: 100%;	align-items: center;	color:#0b7a71;opacity: 0.7;	margin: 8px 0px;
}
.chat .date::before,.date::after {
	content: "";	flex-grow: 1;	background-color: #CCC;	height: 1px;	font-size: 0px;		margin: 0px 16px;
}
/*입장 퇴장*/
.chat .enter span,.chat .read_here span{
  color:black;
}
.chat .enter,.chat .read_here{
	display: flex;	flex-basis: 100%;	align-items: center;	color:#0b7a71;opacity: 0.7;	margin: 8px 0px;
}
.chat .enter::before,.chat .enter::after,.chat .read_here::before,.chat .read_here::after {
	content: "";	flex-grow: 1;	background-color: #CCC;	height: 1px;	font-size: 0px;		margin: 0px 16px;
}
/*나가기 팝업*/
.chat .background {
  position: fixed;top: 0;  left: 0;  width: 100%;  height: 100vh;background-color: rgba(0, 0, 0, 0.3);z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}
.chat .show {
  opacity: 1;z-index: 1000;transition: all 0.5s;
}
.chat .window {
  position: relative;width: 100%;  height: 100%;
}
.chat .popup {
  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  background-color: #ffffff;  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);  width: 300px;  height: 200px;
    text-align: center;
}
.chat .popup>div{
  width:100%;text-align: center;margin-top: 70px;
}
.chat .popup>button{
  margin-top:40px; border:none;width:80px;
    background-color: #0b7a71; color:white;
}
.chat .popup #close{
background-color:white;  color:#0b7a71;border:1px solid #0b7a71;
}
.chat .popup>button:hover{
  opacity: 0.8;
}
.chat .show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
/*스크롤바*/
::-webkit-scrollbar {
  width: 10px;  height: 5px;
  background: white;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#aaa;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px; background-color: #ccc;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
