#cont_alarm{
  border: 1px solid #dae1e6;
}
main>.container{
 border-right: 1px solid #dae1e6;
}
#cont_alarm .info_list{
  margin:0 auto;position: relative; min-height:800px;width:1158px; background-color: white;padding:50px;padding-top: 30px;
}
/*링크*/
.link_box{
  float:left;width:20%;
}
.link_box>div{
    width:100%; height:80px; line-height: 80px; text-align: center; font-size: 16px;font-weight: bold;margin:10px; border-radius: 5px;
}
.link_box div:hover{
  font-size: 18px;transition: all ease 0.3s 0s;
}
/*리스트*/
.info_chat_list img{
  width:50px; height:50px; border-radius: 25px;
}
.info_chat_list table tr,.info_alarm_list table tr,.info_post_list table tr{
  height:80px;padding:20px;
}
.info_chat_list table tr:hover,.info_alarm_list table tr:hover,.info_post_list table tr:hover {
  background-color:#dae1e6;
}
.info_chat_list table td:nth-child(1){
  width:60px;padding:10px;
}
.info_chat_list table td:nth-child(2){
  width:660px;
}
.info_chat_list table td {
  border-bottom: 1px solid #cccccc; border-collapse:inherit;
}
/*알람리스트*/
.info_alarm_list,.info_chat_list ,.info_post_list {
  display:inline-block; width:720px;max-height:800px;overflow-y: scroll;border: 1px solid #cccccc;background-color: white;position:absolute; margin-left: 80px;margin-top:10px;min-height:80px;
}
:is(.info_alarm_list,.info_chat_list ,.info_post_list) table{
    border-collapse: collapse;
}
.info_alarm_list table td,.info_post_list table td{
  padding:10px;width:100%; border-bottom: 1px solid #cccccc;
}
.info_post_list table td:nth-child(2){
  font-size: 12px; color:gray;
}
.info_alarm_list table td a,.info_chat_list table td a{
  color:#0b7a71;text-decoration: none;
}
.info_post_list table td a{
  color:black;
}
.info_alarm_list table td a:hover,.info_chat_list table td a:hover,.info_post_list table td a:hover{
  color:#c3200e;
}
.info_alarm_list_cmt{
  font-style: italic;font-size: 12px;display:block;margin-top:5px;
}
.info_alarm_list_cmt :hover{
  color:gray;
}
@media (max-width:768px) and (min-width:319px){
  #cont_alarm .info_list{
    width:100%;padding:1%;padding-top:30px;min-height: 900px;
  }
  /*링크*/
  .link_box{
    width:100%;
  }
  .link_box div{
    float:left;height:60px;line-height: 60px;margin:0.9%;width:31%;
  }
  /*알람리스트*/
.info_alarm_list,.info_chat_list,.info_post_list{
    display: block;margin:2%;margin-top:80px;width:92%;margin-bottom:150px;
  }
}
