#cont_{
     border: 1px solid #dae1e6;
}
.profile{/*빨간border*/
  margin:0 auto;position: relative;
min-height:800px;width:1158px;padding-top: 100px;
   background-color: white;
}

.my_profile{
  margin:0 auto;width:400px;
}
/*               프로필 목록            */
.my_profile img{
  display: block; margin:0px auto;width:300px; height:300px;border-radius: 300px;box-shadow: 1px 2px 3px 1px #888888;
}
.choose_file{
  display: none;
}
/*nickname
.private_info .name{
  width:400px;text-align: center;margin-top: 15px;
}
.private_info .nickname{
 background-color: white;border: 1px solid #888888;margin:10px 0 30px 100px;width:180px;position:relative;left:30px;
}
.private_info .name .nickname{
    font-size: 22px;  font-weight: bold; text-align: center;display: inline-block;
}
.my_profile i{
  font-size: 15px;color:gray;display: inline-block;
}
.check_nick{
display: inline-block; font-size: 12px;border: 2px solid #CCCCCC;border-radius: 10px;padding:5px; position: relative;top: -40px; font-weight: bold;  left:50px;
}
.check_nick:hover{
  border-color:#c3200e;
}*/
/*닉네임*/
.private_info .name{
  text-align: center;margin-top: 15px;
}
.private_info .nickname{
  width:50%; height:30px;padding:4px; background-color: white;border: 1px solid #888888;font-size:18px;text-align: center;font-weight: bold;line-height: 30px;
}
.check_nick{
  font-size: 12px;border: 2px solid #CCCCCC;border-radius: 10px;padding:5px;
}
#nickname_txt{
  color:#c3200e;display: block;
}
#nick_dup_txt{
  color:green;width:100%;display: none;
}

.private_info{
  margin:0 auto;width:500px;
}
.info_list{
  margin:30px 0;
}
.info_list  label{
  width:130px;display: inline-block;
}
.info_list >p{
 display: inline-block;font-size: 15px; width:70%; border:1px solid gray;background-color:#EEEEEE;opacity: 0.6;font-size:15px;padding:4px;
}
/*패스워드*/
.pw{
  padding:4px;font-size: 15px;margin:5px 0;
}
.origin_pw{
  width:calc(70% - 72px);
}
.hidden_profile .pw{
 width:70%;
}
#pw_txt,#cor_pw_txt{
  color:#c3200e; font-size: 12px; position: relative;left: 130px;
}
 .hidden_profile{
   display: none;width:100%;
 }
 .cor_mem_password{
 }
 .info_list button{
border: 2px solid #CCCCCC;border-radius: 10px;padding:5px;
}
.info_list button:hover{
  border-color:#c3200e;
}
/*수정하기 버튼*/

.modify_profile button{
  display:block;width:150px;height:40px; font-size: 16px;font-weight: bold;border-radius: 15px; text-align: center;margin:80px auto;  background-color: #c3200e;color:white;
}
.modify_profile button:hover{
  background-color: #c3200e;opacity: 0.6;
}
.edit_profile{
  background-color:#c3200e;
}
.secession{
display: inline-block;position: fixed;bottom: 50px;right:120px;width:60px; height:50px;text-align: center;line-height: 50px;border-radius: 20px;background-color: #c3200e;color:white;font-weight:bold;z-index: 600;box-shadow:1px 2px 3px 1px #888888;

}

/* media query 0 ~ 768px  tablet*/
@media (max-width:768px){
  #cont_{
    margin-top:50px;   border:none;
  }
  .profile{
      margin:0 auto; width:90%; padding-top:20px;min-height:500px;
  }
  .info_list{
    margin:20px 0;
  }
  /*프로필 이미지 가변*/
  .my_profile{
    position: relative;	width:50%;height: 0;overflow: hidden;padding-bottom:50%;
  }
  .my_profile img{
    position: absolute;top: 0;left: 0;width: 95%;height:95%;border-radius: 300px;box-shadow: 1px 2px 3px 1px #888888;
  }
  /*닉네임 변경*/
  .private_info .name{
     z-index: 100;
  }
  .private_info .name{
    width:100%; margin-top: 15px;
    }
    .private_info .nickname{
      width:80%;font-size: 14px;
    }
  /*.private_info .name p{
    display: inline-block;width:80%;text-align: left;
  }
  .private_info .name{
    width:100%; margin-top: 15px;
  }
  .private_info .nickname{
   background-color: white; width:80%;float:left;margin:5% 1% 5% 10%;position:static;

  }
  .private_info .name .nickname{
      font-size: 22px;  font-weight: bold; text-align: center;display: inline-block;
  }*/

  .private_info  .check_nick{
     background-color: white; position: relative;top:1px;left:-1%;
  }

  /*               프로필 목록            */

  .private_info{
    width:70%; margin:0 auto;
  }
  .info_list{
    margin:20px auto;width:80%;
  }
  .info_list  label{
    width:130px;display:block;
  }
  .info_list >p{
   display: inline-block; width:100%; border:1px solid gray;background-color:#EEEEEE;opacity: 0.6;font-size:15px;padding:4px;
  }
  /*패스워드*/
   .info_list button{
    margin-left: 3px;
   }
  .info_list .origin_pw{
    width:calc(100% - 82px);padding:4px;
  }
  .hidden_profile .pw{
    padding:4px;font-size: 15px;width:100%;margin:5px 0;
  }

  #pw_txt,#cor_pw_txt{
    color:#c3200e; font-size: 12px; position: relative;left: 130px;
  }
   .hidden_profile{
     display: none;
   }
   .secession{
     right:60px;bottom: 100px;
   }

}
