.bck { position: relative; z-index: 1; width:100%; height:100%; } 
.bck::after { width:100%; height:100%; top:0; position: fixed; background: url(../img/로고1.jpg) no-repeat 55% 45%; background-size: auto; filter: grayscale(100%); opacity: 0.1; z-index: -1; content: ""; background-size: 90%; } 
.container { width:560px; height:100%; margin:0 auto; margin:0 auto; padding-top:60px; padding-bottom: 30px; background-color: white; top:5px; margin-top:5px; } 
/*위세종 로고*/
header { overflow: auto; } 
header a { text-decoration: none; color:black; font-family: 돋움; opacity: 0.7; } 
header h1 { font-size: 50px; text-align: center; text-align: center; } 
header span { font-size: 30px; } 
#join_field { border:solid 1px #c3002e; padding:50px; padding-bottom: 10px; font-size: 12px; } 
/*개인정보약관박스*/
.terms_of_sevice { overflow: scroll; overflow-x: hidden; width:450px; height:300px; border:solid 1px gray; margin:0 auto; } 
.agree_input>label,#agreement { float: right; } 
#agreement { margin: 5px; } 
/*입력양식*/
.join_input>div { margin-top:40px; margin-bottom: 40px; } 
.join_input label,.join_input input { display: block; color:#555555; margin:0 auto; } 
.join_input input,.join_input select { width:450px; height:50px; font-size:15px; float: none; border-top: 0; border-left: 0; border-right:0; color:#555555; border-color:#CCCCCC; } 
.join_input select { padding: 13px; background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 96% 65%; border: 2px solid #CCCCCC; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.join_input input:focus { color:#c3002e; outline:none; text-shadow: 0 0 0 black; border-color:#c3002e; -webkit-text-fill-color:transparent; } 
.join_input select:focus { outline:none; } 
.join_input p { color:#c3002e; margin:0 5px; font-size: 12px; padding:5px 0px; } 
/*아이디 중복 알림 텍스트-초록*/
#id_dup_txt { color:green; display:none; } 
/*중복확인*/
.check_overlap_id,.check_overlap_nick { float:right; margin-top:-40px; margin-right:25px; border: 2px solid #CCCCCC; color:#555555; border-radius: 10px; padding:3px; background-color: white; } 
.check_overlap_id:hover,.check_overlap_nick:hover { border: 2px solid #c3200e; color:#c3200e; } 
/*이메일*/
.email_input>span { position:static; margin-top:-40px; margin-right:25px; float:right; } 
#cor_mem_email,.email_cert_btn { display: none; } 
#timer { position:relative; top:-26px; } 
.email_input button { height:30px; min-width: 30px; border: 2px solid #CCCCCC; color:#555555; border-radius: 10px; padding:3px; margin-left:5px; background-color: white; } 
.email_input button:hover { border: 2px solid #c3200e; color:#c3200e; } 
.email_cert_btn { position: relative; top:-40px; left: 81.5%; } 
#mem_email:hover^.email_send_btn { background-color:blue; border: none; } 
#email_txt { margin-top: -30px; } 
/*제출버튼*/
.submit_join_form { width:450px; height:50px; border:none; background-color:#c3002e; margin-bottom: 50px; text-decoration: none; border-radius: 5px; } 
.submit_join_form:hover { color:white; background-color: #c3002e; opacity: 0.9; } 
.prod { width:450px; text-align: center; } ﻿
select { -webkit-appearance:none; /* for chrome */
 -moz-appearance:none; /*for firefox*/
 appearance:none; } 
select::-ms-expand { display:none; /*for IE10,11*/ } 


@media (max-width:768px)and (min-width:320px){
 #join_field { border:solid 1px #c3002e; padding-top:50px; padding-bottom: 10px; padding-left: 5%; padding-right: 5%; } 
 /*개인정보약관박스*/
 .terms_of_sevice { overflow: scroll; overflow-x: hidden; width:96%; } 
 .container { width:97%; padding-top:10px; } 
.join_input input,.join_input>div,.submit_join_form,.prod,.join_input select { width:100%; } 
 /*이메일*/
 .check_overlap_id,.check_overlap_nick,.email_input>span { margin-right:10px; } 
 /*이메일 인증 버튼*/ } 
