.notice{

}
.alarm_list,.chat_list,.post_list{display: none;}
.header_menu>.header_menu_intro{margin-left: 30px;}
.header_menu>.header_menu_intro .unread{font-size:15px; color:#c3200e;}
.header_menu .header_menu_signinbox{margin-left: 80px;padding:0 5px;}
.header_menu .enter_wesju a{color:black;font-weight: bolder;padding:0;}
/*스크롤바
::-webkit-scrollbar {
  width: 10px;  height: 5px;
  background: white;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#aaa;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px; background-color: #ccc;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
*/
